*.pyc
__pycache__/
db.sqlite3
venv/
.venv/
ENV/
env/
.env
staticfiles/
.vscode/
.idea/
*.log
*.pot
*.DS_Store
mpesa_project/__pycache__/
mpesa_app/__pycache__/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
